root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{html,css,js,ts,jsx,tsx,json}]
indent_size = 2
insert_final_newline = false